@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 248, 225;
  --background-end-rgb: 255, 243, 224;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff8e1;
}

::-webkit-scrollbar-thumb {
  background: #ff5722;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d32f2f;
}
